mixin getting-started()
	#getting-started.row
		.left
			.icon-container 
				img.icon(src='images/getting-started.svg')
				h3!=msg.gettingStarted.title
		.right
			p!=msg.gettingStarted.explanatoryVideo
			a(href='https://www.youtube.com/watch?v=FqVMbwhAEW4')
				img.social-media-icon(src='images/youtube.svg')
		.center
			p!=msg.gettingStarted.description
			ul
				li!=msg.gettingStarted.bulletpoint1
				li!=msg.gettingStarted.bulletpoint2
			p!=msg.gettingStarted.note
		.clear